{% if view == "yandex" %}	
<div class="{{prefix}}block  {{mod}}  {{group}}">
	<div class="{{prefix}}container  container  {{mod}}  {{group}}">
		{% if dropdown == "true" %}
		<div class="{{dropdown_prefix}}card  dropdown  {{group}}">
			<a href="#" class="{{dropdown_prefix}}toggle  dropdown-toggle" data-toggle="dropdown">Выберите город из списка</a>
			<div class="{{dropdown_prefix}}nav  dropdown-menu  ">			
				<ul class="{{dropdown_prefix}}nav-list">			    
				{% for value in list %}
					<li class="{{dropdown_prefix}}nav-item">
						<a href="#" class="{{dropdown_prefix}}nav-link {% if value.map_main == "true" %}is--active{% endif %}" {% if value.map_main == "true" %}data-map-base{% endif %}
							data-coord 
							data-city="{{value.title}}" 
							data-phone="{{value.phone}}" 
							data-email="{{value.email}}" 
							data-c="{{value.coord}}" 
							data-addr="{{value.address}}"
						>{{value.title}}</a>
					</li>
				{% endfor %} 
				</ul>
			</div>
		</div>	
		{% endif %}
		<div class="{{prefix}}panel  {{mod}}  {{group}}">
			<p class="{{prefix}}heading  {{mod}}" data-map-heading>{{city}}</p>
			<p class="{{prefix}}item  {{mod}}  is--address" data-map-address>{{address}}</p>
			<p class="{{prefix}}item  {{mod}}" data-map-phone>{{phone}}</p>
			<p class="{{prefix}}item  {{mod}}" data-map-email>{{email}}</p>
			<p class="{{prefix}}item  {{mod}}" data-map-clock>{{clock}}</p>
		</div>
	</div>
	<div class="{{prefix}}map  {{mod}}  {{group}}" id="yandex_map"></div>
</div>
{% endif %}