<div class="{{content_prefix}}footer">
    <div class="{{content_prefix}}container">
        <div class="{{content_prefix}}footer-wrap">
            <div class="{{content_prefix}}footer-row">
                <div class="{{content_prefix}}footer-cols  is--left">
                    <a href="tel:{{email.phone_tel}}" class="{{content_prefix}}footer-item">
                        <span>Телефон:</span> {{email.phone}}
                    </a>
                </div>
                <div class="{{content_prefix}}footer-cols">
                    <a href="mailto:{{email.email}}" class="{{content_prefix}}footer-item">
                        <span>E-MAIL:</span> {{email.email}}
                    </a>
                </div>
                <div class="{{content_prefix}}footer-cols  is--right">
                    <a href="{{soc.vk}}" target="_blank" class="{{content_prefix}}footer-soc"><img src="{{email.path_img}}/email/soc-vk.png" alt=""></a> 
                    <a href="{{soc.fb}}" target="_blank" class="{{content_prefix}}footer-soc"><img src="{{email.path_img}}/email/soc-fb.png" alt=""></a> 
                    <a href="{{soc.inst}}" target="_blank" class="{{content_prefix}}footer-soc"><img src="{{email.path_img}}/email/soc-inst.png" alt=""></a> 
                    <a href="{{soc.yb}}" target="_blank" class="{{content_prefix}}footer-soc"><img src="{{email.path_img}}/email/soc-yb.png" alt=""></a>                     
                </div>
            </div>
        </div>
    </div>
</div>