<div class="{{content_prefix}}header">
    <div class="{{content_prefix}}container">
        <div class="{{content_prefix}}header-wrap">
            <div class="{{content_prefix}}header-row">
                <div class="{{content_prefix}}header-cols  is--logotip">
                    <a href="//orel.fedoperator.ru/" target="_blank" class="{{content_prefix}}header-logotip"><img src="{{email.path_img}}/email/logotip.png" alt=""></a>
                </div>
                <div class="{{content_prefix}}header-cols  is--nav">
                    <div class="{{content_prefix}}header-nav-wrap">
                        <div class="{{content_prefix}}header-nav">
                            <div class="{{content_prefix}}header-nav-item">
                                <a href="//fedoperator.ru/company/about/" target="_blank" class="{{content_prefix}}header-nav-link">
                                    О&nbsp;компании
                                </a>
                            </div>
                            <div class="{{content_prefix}}header-nav-item">
                                <a href="//fedoperator.ru/partnership/" target="_blank" class="{{content_prefix}}header-nav-link">
                                    Партнерство
                                </a>
                            </div>
                            <div class="{{content_prefix}}header-nav-item">
                                <a href="mailto:{{email.email}}" target="_blank" class="{{content_prefix}}header-nav-link  is--email">{{email.email}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>