<div class="{{prefix}}block  {{mod}}">
	<ol class="{{prefix}}list  {{mod}}">
		{% for value in list %}		
		<li class="{{prefix}}item  {{mod}}">
			<a href="#" class="{{prefix}}link  {{mod}}"><span>{{value.name}}</span></a>
		</li>
		{% endfor %}
	</ol>
</div> 