{% if view == "catalog_page" %}
	<section class="{{content_prefix}}panel">
		<div class="{{content_prefix}}container container">
			{% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}	
			<div class="page-header__panel  row  {{heading_group}}  {{content_mod}}">
				<div class="cols">
					{% include "../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						level:heading_level, 
						heading:heading
					} %}
					{% include "../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_cat_mod,
						level:heading_cat_level, 
						heading:heading_cat
					} %}
				</div>
				<div class="cols">
					{% include "../common/form/elem-tpl.twig" with {
						view:"filter", 
						prefix:prefix.form, 
						mod:"", 
						color:"", 
						group:"", 
						label:"Сортировать:", 
						form_id:"filter", 
						id:"select", 
						name:"Сортировать", 
						list: [
							{"name": "по дате","status": "selected"},
							{"name": "по новизне"},
							{"name": "по популярности"}
						]}
					%}
				</div>
			</div>	
			{% if view == "catalog_page"%}
			<div class="{{content_prefix}}row  grid__row   is--page-aside-sm  margin--huge">
				{% include "../common/aside/tpl.twig" with {
					view: "filter_catalog",
					prefix: "aside__",
					heading: "Фильтры",
					ID: "filter"
				} %}
				<div>
					{% include "../common/form/form.twig" with {
						view: 			"search", 
						prefix:			prefix.form, 
						mod:			"is--search", 
						group:			content_mod, 
						color:			"is--primary-light", 
						ID: 			"f_search", 
						placeholder:	"Введите название техники",
						btn_mod:		"",
						btn_name:		"Поиск техники"
					} %}

					<div class="{{content_prefix}}row  grid__row  {{content_mod}}">		
						{% include "../common/card/card.twig" with {
						 	view: "catalog", 
						 	prefix:prefix.card, 
						 	mod:"is--catalog", 
						 	list: [
						 		{
						 			"heading":"Галичанин КС-55713-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		}
						 	]
						} %}
							<div class="{{content_prefix}}row  grid__row  {{content_mod}}  is--new">
								<h2 class="{{prefix.heading}}heading  is--heading  is--line  fw--700  is--h3">Новинки в каталоге</h2>	
								{% include "../common/card/card.twig" with {
								 	view: "catalog_new", 
								 	prefix:prefix.card, 
								 	mod:"is--catalog-new", 
								 	list: [
								 		{
								 			"heading":"Автокран Ивановец КС-55713-1К-4",
								 			"link":page.catalog_card, 
								 			"sale":"20%", 
								 			"img":"http://via.placeholder.com/500x265"
								 		},
								 		{
								 			"heading":"Автокран Ивановец КС-55713-1К-4",
								 			"link":page.catalog_card,
								 			"sale":"15%", 
								 			"img":"http://via.placeholder.com/500x265"
								 		},
								 		{
								 			"heading":"Автокран Ивановец КС-55713-1К-4",
								 			"link":page.catalog_card,
								 			"sale":"20%", 
								 			"img":"http://via.placeholder.com/500x265"
								 		}
								 	]
								} %}	
							</div>	
						{% include "../common/card/card.twig" with {
						 	view: "catalog", 
						 	prefix:prefix.card, 
						 	mod:"is--catalog", 
						 	list: [
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 
						 			"link":page.catalog_card,
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 
						 			"link":page.catalog_card,
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4",
						 			"link":page.catalog_card, 
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		}
						 	]
						} %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
{% endif %}


{% if view == "catalog_card"%}
	
{% endif %}	

{% if view == "catalog_adv" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
			
			<div data-slick-catalog  data-slick-dots="false">
				{% include "../common/card/card.twig" with {
				 	view: "catalog_promo", 
				 	prefix:prefix.card, 
				 	mod:"is--catalog-promo", 
				 	list: [
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS",
				 			"link":page.catalog_card,  
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS",
				 			"link":page.catalog_card,  
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		}
				 	]
				} %}
			</div>
		</div>
	</section>
{% endif %}	