{% if view == "catalog_page" %}
	<section class="{{content_prefix}}panel">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}	
			<div class="page-header__panel  row  {{heading_group}}  {{content_mod}}">
				<div class="cols">
					{% include "../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						level:heading_level, 
						heading:heading
					} %}
					{% include "../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_cat_mod,
						level:heading_cat_level, 
						heading:heading_cat
					} %}
				</div>
				<div class="cols">
					{% include "../common/form/elem-tpl.twig" with {
						view:"filter", 
						prefix:prefix.form, 
						mod:"", 
						color:"", 
						group:"", 
						label:"Сортировать:", 
						form_id:"filter", 
						id:"select", 
						name:"Сортировать", 
						list: [
							{"name": "по дате","status": "selected"},
							{"name": "по новизне"},
							{"name": "по популярности"}
						]}
					%}
				</div>
			</div>
			<div class="{{content_prefix}}row  grid__row   is--page-aside-sm">
				{% include "../common/aside/tpl.twig" with {
					view: "filter_catalog",
					prefix: "aside__",
					heading: "Фильтры",
					ID: "filter"
				} %}
				<div>
					{% include "../common/form/form.twig" with {
						view: 			"search", 
						prefix:			prefix.form, 
						mod:			"is--search", 
						group:			content_mod, 
						color:			"is--primary-light", 
						ID: 			"f_search", 
						placeholder:	"Введите название техники",
						btn_mod:		"",
						btn_name:		"Поиск техники"
					} %}

					<div class="{{content_prefix}}row  grid__row  {{content_mod}}">		
						{% include "../common/card/card.twig" with {
						 	view: "catalog", 
						 	prefix:prefix.card, 
						 	mod:"is--catalog", 
						 	list: [
						 		{
						 			"heading":"Галичанин КС-55713-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"https://new.elementleasing.ru/upload/resize_cache/iblock/286/600_600_1/286ce5e9e543389bc4365449d6d80171.png"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"https://new.elementleasing.ru/upload/resize_cache/iblock/764/600_600_1/764cb4be9dcec9916a8dc910648a36fb.jpg"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		},
						 		{
						 			"heading":"Клинцы КС-55713-1К-4", 			
						 			"link":page.catalog_card,  
						 			"type":"Автокран", 
						 			"cost":"2 500 000", 
						 			"leasing":"49 700", 
						 			"time":"до 36 месяцев", 
						 			"img":"http://via.placeholder.com/500x265"
						 		}
						 	]
						} %}
						<div class="{{content_prefix}}row  grid__row  {{content_mod}}  is--new">
							<h2 class="{{prefix.heading}}heading  is--heading  is--line  fw--700  is--h3">Новинки в каталоге</h2>	
							{% include "../common/card/card.twig" with {
							 	view: "catalog_new", 
							 	prefix:prefix.card, 
							 	mod:"is--catalog-new", 
							 	list: [
							 		{
							 			"heading":"Автокран Ивановец КС-55713-1К-4",
							 			"link":page.catalog_card, 
							 			"sale":"20%", 
							 			"img":"http://via.placeholder.com/500x265"
							 		},
							 		{
							 			"heading":"Автокран Ивановец КС-55713-1К-4",
							 			"link":page.catalog_card,
							 			"sale":"15%", 
							 			"img":"http://via.placeholder.com/500x265"
							 		},
							 		{
							 			"heading":"Автокран Ивановец КС-55713-1К-4",
							 			"link":page.catalog_card,
							 			"sale":"20%", 
							 			"img":"http://via.placeholder.com/500x265"
							 		}
							 	]
							} %}	
						</div>
					</div>

					{% include "../common/pagination/tpl.twig" with {
					 	prev: "true", 
					 	next: "true", 
					 	view: "news", 
					 	prefix:prefix.pagination,
					 	group: "is--pagination", 
					 	active: "2",
					 	list: [
					 		{name: "1"},
					 		{name: "2"},
					 		{name: "3"},
					 		{name: "4"},
					 		{name: "5"},
					 		{name: "6"},
					 		{name: "7"},
					 		{name: "8"}
					 	]
					}%}
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% if view == "catalog_card_header" %}
	<section class="{{content_prefix}}panel  {{content_mod}}" {% if bg %}style="background-image: url({{bg}});"{% endif %}>
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}			
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_sm_mod,
				level:heading_sm_level, 
				heading:heading_sm
			} %}		
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
		</div>
	</section>
{% endif %}

{% if view == "catalog_card_desc" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../common/card/card.twig" with {
			 	view: "catalog_card", 
			 	prefix:prefix.card, 
			 	mod:"is--catalog-card", 
			 	heading:heading, 
			 	type:"грейдер",				 		
			 	cost:"4 950 000",				 		
			 	leasing:"98 406",				 		
			 	time:"36 месяцев",				 		
			 	note:"<p>Автогрейдер ГС − 14.02 предназначен для выполнения больших объемов землеройных и&nbsp;профилировочных работ, при строительстве и&nbsp;содержании дорог. ГС − 14.02 комплектуется мощным двигателем 110 кВт и&nbsp;механической трансмиссией. Для автогрейдера имеется большой набор сменного рабочего оборудования (поворотный бульдозерный отвал, боковой грейдерный отвал, рыхлитель заднего расположения).</p>",		 		
		 	} %}
		</div>
	</section>
{% endif %}

{% if view == "catalog_card"%}
	<section class="{{content_prefix}}panel">
		<div class="{{content_prefix}}container container">
			{% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
		</div>
	</section>
{% endif %}	

{% if view == "catalog_adv" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
			
			<div data-slick-catalog  data-slick-dots="{{slider_dots}}">
				{% include "../common/card/card.twig" with {
				 	view: "catalog_promo", 
				 	prefix:prefix.card, 
				 	mod:card_mod, 
				 	list: [
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS",
				 			"link":page.catalog_card,  
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS", 
				 			"link":page.catalog_card, 
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"MAN TGS 18.400 4X2 BLS",
				 			"link":page.catalog_card,  
				 			"cost":"20 000", 
				 			"status":"Есть в наличии", 
				 			"img":"http://via.placeholder.com/500x265"
				 		}
				 	]
				} %}
			</div>
			{% if link %}
			<p class="{{content_prefix}}link  is--block-slider">
				<a class="link__item  is--next  is--success-white" href="{{link_href}}">{{link}}</a>
			</p>
			{% endif %}
		</div>
	</section>
{% endif %}	