<main class="{{content_prefix}}panel  {{content_mod}}">
	<section class="{{content_prefix}}container container  {{content_mod}}">
		{% include "../common/breadcrumb/tpl.twig" with {
			prefix:prefix.breadcrumb, 
			mod:bread_mod, 
			bread:bread
		} %}
		{% include "../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %}

		<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
			<div>
				{% include "../common/continfo/tpl.twig" with {
					view: "", 
					prefix:"continfo__", 
					mod:"is--email-tel", 
					list:[
						{
							"name":contacts.phone, 
							"href":contacts.phone_tel, 
							"tag":"a", 
							"target":"tel:", 
							"label":"Номер для звонков по Москве"
						},
						{
							"name":contacts.email, 
							"href":contacts.email,  
							"tag":"a", 
							"target":"mailto:",
							"label":"Для любых обращений"
						}
				]} %}
				{# {% include "../common/button/btn.twig" with {
					view:"modal",
					prefix:"btn__", 
					mod:"is--lg  is--white", 
					target:"modal-form", 
					name:"Заказать обратный звонок", 
					m_heading: "Заказать звонок", 
					m_heading_sm: "Мы перезвоним вам в ближайшее время", m_btn:"Отправить"
				} %} #}
				{% include "../common/button/btn.twig" with {
					view:"link",
					prefix:"btn__", 
					mod:"is--lg  is--white", 
					link:"#", 
					name:"Заказать обратный звонок", 
					m_heading: "Заказать звонок", 
					m_heading_sm: "Мы перезвоним вам в ближайшее время", m_btn:"Отправить"
				} %}
			</div>
			<div>
				{% include "../common/continfo/tpl.twig" with {
					view: "", 
					prefix:"continfo__", 
					mod:"is--office-main", 
					title:"Москва", 
					title_mod:"is--h3  fw--700", 
					link:"#", 
					link_name:"Как добраться",					 
					address:contacts.address, 
					phone:contacts.phone, 
					phone_tel:contacts.phone_tel, 
					email:contacts.email,  
					clock:contacts.clock,
					map_main:true,
					coord:"55.74260176 37.52784544"
				} %}
			</div>
			<hr>
			{% include "../common/tabs/tpl.twig" with {
				view:"map",
				tabs:"contacts_", 
				prefix:prefix.tabs,
				mod:content_mod
			} %}
		</div>	
	</section>
	{% include "../common/map/tpl.twig" with {
		view:"yandex",
		prefix:prefix.map,
		mod:content_mod,
		city:"Москва", 
		address:contacts.address, 
		phone:contacts.phone, 
		phone_tel:contacts.phone_tel, 
		email:contacts.email,  
		clock:"С 10:00 до 19:00<br>Суббота, воскресенье — выходной",
		clock1:contacts.clock
	} %}		
</main>