<div class="{{content_prefix}}container container">
	{% include "../common/breadcrumb/tpl.twig" with {
		prefix:prefix.breadcrumb, 
		mod:bread_mod, 
		bread:bread
	} %}	
	{% include "../common/page-header/tpl.twig" with {
		prefix:"page-header__", 
		group:heading_group,
		mod:heading_mod,
		level:heading_level, 
		heading:heading
	} %}
	{% include "../common/form/form.twig" with {
		view: 			"search", 
		prefix:			prefix.form, 
		mod:			"is--search", 
		group:			"margin--medium", 
		color:			"is--primary-light", 
		ID: 			"f_search", 
		placeholder:	"Поиск",
		btn_mod:		"",
		btn_name:		"Поиск"
	} %}
	<h2 class="is--h3  fw--700  margin--small">Результаты поиска:</h2>

	<div class="{{content_prefix}}row  grid__row   is--page-aside  {{content_mod}}">
		<div class="{{content_mod}}">
			{% include "../common/aside/tpl.twig" with {
				view: "search_nav",
				prefix: "aside__",
				heading: "Фильтры",
				ID: "filter",
				nav:[
					{name:"Каталог <sup>28</sup>", link: page.catalog},
					{name:"Лизинговые программы <sup>4</sup>", link: ""},
					{name:"Новости <sup>12</sup>", link: page.news},
					{name:"Отзывы <sup>10</sup>", link: page.reviews}
				]
			} %}
		</div>	
		<div>	
			<div class="{{content_prefix}}row  grid__row  {{content_mod}}">		
				{% include "../common/card/card.twig" with {
				 	view: "catalog", 
				 	prefix:prefix.card, 
				 	mod:"is--catalog-search", 
				 	list: [
				 		{
				 			"heading":"Клинцы КС-55713", 
				 			"type":"Автокран", 
				 			"link":page.catalog_card, 
				 			"cost":"2 500 000", 
				 			"leasing":"49 700", 
				 			"time":"до 36 месяцев", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"Клинцы КС-55713", 
				 			"type":"Автокран", 
				 			"link":page.catalog_card, 
				 			"cost":"2 500 000", 
				 			"leasing":"49 700", 
				 			"time":"до 36 месяцев", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"Клинцы КС-55713", 
				 			"type":"Автокран", 
				 			"link":page.catalog_card, 
				 			"cost":"2 500 000", 
				 			"leasing":"49 700", 
				 			"time":"до 36 месяцев", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"Клинцы КС-55713", 
				 			"type":"Автокран", 
				 			"link":page.catalog_card, 
				 			"cost":"2 500 000", 
				 			"leasing":"49 700", 
				 			"time":"до 36 месяцев", 
				 			"img":"http://via.placeholder.com/500x265"
				 		},
				 		{
				 			"heading":"Клинцы КС-55713", 
				 			"type":"Автокран", 
				 			"link":page.catalog_card, 
				 			"cost":"2 500 000", 
				 			"leasing":"49 700", 
				 			"time":"до 36 месяцев", 
				 			"img":"http://via.placeholder.com/500x265"
				 		}
				 	]
				} %}
				{% include "../common/pagination/tpl.twig" with {
				 	prev: "true", 
				 	next: "true", 
				 	view: "news", 
				 	prefix:prefix.pagination,
				 	group: "is--pagination", 
				 	active: "2",
				 	list: [
				 		{name: "1"},
				 		{name: "2"},
				 		{name: "3"},
				 		{name: "4"},
				 		{name: "5"},
				 		{name: "6"},
				 		{name: "7"},
				 		{name: "8"}
				 	]
				} %}
			</div>
		</div>
	</div>
</div>