{# <div class="{{prefix}}panel">
	<ul class="{{prefix}}nav  {{mod}}">
		<li class="{{prefix}}item  {{mod}} active">
			<a class="{{prefix}}link  {{mod}}" href="#{{tabs}}1" data-toggle="tab">Вкладка 1</a>
		</li>
		<li class="{{prefix}}item  {{mod}}">
			<a class="{{prefix}}link  {{mod}}" href="#{{tabs}}2" data-toggle="tab">Вкладка 2</a>
		</li>
		<li class="{{prefix}}item  {{mod}}">
			<a class="{{prefix}}link  {{mod}}" href="#{{tabs}}3" data-toggle="tab">Вкладка 3</a>
		</li>
	</ul>
</div>
<div class="{{prefix}}pane  active" id="{{tabs}}1">
	Вкладка 1
</div>
<div class="{{prefix}}pane" id="{{tabs}}2">
	Вкладка 2
</div>
<div class="{{prefix}}pane" id="{{tabs}}3">
	Вкладка 3
</div> #}