<div class="{{prefix}}block  {{mod}}">
	{% if title != null %}
	<div class="{{prefix}}header  {{mod}}">
		<p class="{{prefix}}heading  {{mod}}  {{title_mod}}">
			{{title}}
		</p>
		<p class="{{prefix}}link  {{mod}}"><a href="{{link}}" 
			{% if coord != null %}
			{% if map_main == true %}
				data-map-base 
			{% endif %}
				data-coord 
				data-city="{{title}}" 
				data-phone="{{phone}}" 
				data-email="{{email}}" 
				data-c="{{coord}}" 
				data-addr="{{address}}"
			{% endif %}
			>{{link_name}}</a></p>
	</div>
	{% endif %}
	{% if address != null %}
	<p class="{{prefix}}card  {{mod}}  is--address">{{address}}</p>
	{% endif %}
	{% if phone != null %}
	<p class="{{prefix}}card  {{mod}}">
		<a href="tel:{{phone_tel}}">{{phone}}</a>
	</p>
	{% endif %}
	{% if email != null %}
	<p class="{{prefix}}card  {{mod}}">
		<a href="mailto:{{email}}">{{email}}</a>
	</p>
	{% endif %}
	{% if clock != null %}
	<p class="{{prefix}}card  {{mod}}">{{clock}}</p>
	{% endif %}
	{% for value in list %}
	<div class="{{prefix}}card  {{mod}}  {{value.mod}}"> 
		<{{value.tag}} {% if value.href != null %}href="{{value.target}}{{value.href}}"{% endif %} class="{{prefix}}item  {{mod}}">		
			<span class="{{prefix}}item-name  {{mod}}">{{value.name}}</span>
		</{{value.tag}}>
		{% if value.label != null %}
		<p class="{{prefix}}label  {{mod}}">{{value.label}}</p>
		{% endif %}
	</div>
	{% endfor %} 
</div>