<div class="{{content_prefix}}panel  {{content_mod}}"  id="{{content_id}}">
	<div class="{{content_prefix}}container container  {{content_mod}}">
		<div class="grid__row  is--columns-2">
			{% include "../../common/card/card.twig" with {view:"adv", prefix:"card-item__", mod:"is--adv", list: [{"heading":"Гарантия на работы 2&nbsp;года", "icon":"icon-adv"},{"heading":"Работа по договору", "icon":"icon-adv"},{"heading":"На связи 24/7", "icon":"icon-adv"},{"heading":"9 лет опыта", "icon":"icon-adv"},{"heading":"Фиксированные цены", "icon":"icon-adv"},{"heading":"Качественное качество", "icon":"icon-adv"}]} %}
		</div> 
	</div>
</div> 