<section class="{{content_prefix}}panel  {{content_mod}}">
	<div class="{{content_prefix}}container container  {{content_mod}}">
		{% if heading %}
			{% include "../../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
		{% endif %}
		<div class="{{content_prefix}}row  grid__row  is--block-programm">
			{% include "../../common/card/card.twig" with {
				view:"programm", 
				prefix: prefix.card, 
				mod:"is--programm", 
				list: [
					{
						"heading":"Лизинг<br> с Trade-in", 
						"link":"#", 
						"note":"Приобретайте новую коммерческую технику в лизинг, в обмен на старую!",
						"value":"от 15% <br>+ старая техника"
					},
					{
						"heading":"Льготный лизинг",
						"link":"#",  
						"note":"Получите спецтехнику в лизинг со скидкой на аванс до 15% от ее стоимости!",
						"value":"от 15%<br>&nbsp;"
					},
					{
						"heading":"Лизинг<br> б/у техники", 
						"link":"#", 
						"note":"Получите спецтехнику в лизинг со скидкой на аванс до 15% от ее стоимости!",
						"value":"от 20%<br>&nbsp;"
					}
				]
			} %}
		</div> 
	</div>
</section> 