<div class="{{content_prefix}}main">
    <div class="{{content_prefix}}container">
        <div class="{{content_prefix}}main-wrap">
            <div class="{{content_prefix}}main-heading">{{heading}}</div>
            <div class="{{content_prefix}}main-heading-small">
                <p>{{heading_small}}</p>
            </div>
            <div class="{{content_prefix}}main-note  is--bottom">
                {{note}}
            </div>
            <div class="{{content_prefix}}main-btn-wrap  is--center">
                <a href="{{btn_link}}" target="_blank" class="{{content_prefix}}main-btn">
                    {{btn}}
                </a>
            </div>
        </div>
    </div>
</div>