<div class="{{content_prefix}}panel  {{content_mod}}"  id="{{content_id}}">
	<div class="{{content_prefix}}container container  {{content_mod}}">
		{% include "../../common/page-header/tpl.twig" with {prefix:"page-header__", mod:heading_mod, group:heading_group, level:heading_level, heading:heading, level_sm:heading_sm_level, heading:heading_sm, bread:bread, bread_mod:bread_mod, bread_l1:bread_l1, bread_l1_link:bread_l1_link, bread_l2:bread_l2, bread_l2_link:bread_l2_link } %}		
		<div class="{{content_prefix}}elem  text__block">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum nobis, illo quis nostrum porro accusamus voluptatum adipisci veritatis illum?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sit reprehenderit similique ut quidem exercitationem molestias aliquam impedit officiis pariatur, atque temporibus, nulla maxime eum ratione blanditiis explicabo, quod sunt delectus necessitatibus et ab autem! Accusamus sequi perspiciatis debitis nihil placeat non tenetur accusantium excepturi maiores consequatur hic, rerum officiis.</p>
		</div>
	</div>
</div> 