{% if view == "news_page" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}	
			<div class="page-header__panel  row  {{heading_group}}  {{content_mod}}">
				<div class="cols">
					{% include "../../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						level:heading_level, 
						heading:heading
					} %}
				</div>			
				<div class="cols">
					{% include "../../common/form/elem-tpl.twig" with {
						view:"filter", 
						prefix:prefix.form, 
						mod:"", 
						color:"", 
						group:"", 
						label:"Сортировать:", 
						form_id:"filter", 
						id:"select", 
						name:"Сортировать", 
						list: [
							{"name": "по дате","status": "selected"},
							{"name": "по новизне"},
							{"name": "по популярности"}
						]}
					%}
				</div>
			</div>	
			<div class="{{content_prefix}}row  grid__row   is--page-aside">
				{% include "../../common/aside/tpl.twig" with {
					prefix: "aside__",
					heading: "Другие разделы",
					active: page.news,
					nav:[
						{name:"Инвесторам", link: page.investors},
						{name:"Отзывы", link: page.reviews},
						{name:"Новости", link: page.news},
						{name:"Новости для инвесторов", link: ""},
						{name:"Руководство", link: page.menedzhment},
						{name:"Цифры и факты", link: ""},
						{name:"Преимущества", link: ""},
						{name:"Вакансии", link: page.vacancies},
						{name:"Наши офисы", link: page.contacts}
					]
				} %}
				<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
					{% include "../../common/card/card.twig" with {
					 	view: "news", 
					 	prefix:prefix.card, 
					 	mod:"is--news", 
					 	list: [
					 		{
					 			"heading":"Несколько клиентов подали заявки на новую ГАЗель NEXT в Брянске!", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"11.10.2019", 
					 			"date_iso":"2019-10-11", 
					 			"note":"Всероссийский Автопробег в Брянске прошел с 30 сентября по 4 октября."
					 		},
					 		{
					 			"heading":"Автопробег в Челябинске завершен. Следующий город – Уфа!", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"20.11.2019 15:37:00", 
					 			"date_iso":"09.10.2019",
					 		},
					 		{
					 			"heading":"Предприниматели Тюменской области сравнили ГАЗоны старого и нового поколений.", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"03.10.2019", 
					 			"date_iso":"2018-03-27",
					 		},
					 		{
					 			"heading":"Бизнесмены Твери выбирают маневренные ГАЗели категории «В».", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"02.10.2019", 
					 			"date_iso":"2018-03-27",
					 		},
					 		{
					 			"heading":"Предпринимателей Смоленска приятно удивил формат Автопробега.", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"02.10.2019", 
					 			"date_iso":"2018-03-27",
					 		},
					 		{
					 			"heading":"Автопробег в Новом Уренгое завершен. Следующий город – Тюмень!", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"19.09.2019", 
					 			"date_iso":"2018-03-27",
					 		},
					 		{
					 			"heading":"ГАЗель NEXT протестировали во Владимире и Иваново!", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"16.09.2019", 
					 			"date_iso":"2018-03-27",
					 		},
					 		{
					 			"heading":"Автопробег в Москве прошел при участии 5-ти дилеров ГАЗ.", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"12.09.2019", 
					 			"date_iso":"2018-03-27",
					 		},
					 		{
					 			"heading":"Десятитонный ГАЗон NEXT протестировали предприниматели Сургута.", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"10.09.2019", 
					 			"date_iso":"2018-03-27",
					 		},
					 		{
					 			"heading":"Автопробег в Омске растянулся на 300 км!", 
					 			"link":page.news_card, 
					 			"img":"http://via.placeholder.com/500x265", 
					 			"date":"02.09.2019", 
					 			"date_iso":"2018-03-27",
					 		}
					 	]} %}
					
					{% include "../../common/pagination/tpl.twig" with {
					 	prev: "true", 
					 	next: "true", 
					 	view: "news", 
					 	prefix:prefix.pagination,
					 	group: "is--pagination", 
					 	active: "2",
					 	list: [
					 		{name: "1"},
					 		{name: "2"},
					 		{name: "3"},
					 		{name: "4"},
					 		{name: "5"},
					 		{name: "6"},
					 		{name: "7"},
					 		{name: "8"}
					 	]
					}%}
				</div>
			</div>		
		</div>
	</section>
{% endif %}

{% if view == "news_card" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}	
			<div class="page-header__panel  row  {{heading_group}}  {{content_mod}}">
				<div class="cols">
					{% include "../../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols  is--back">
					<a href="{{page.news}}" class="{{prefix.link}}item  is--prev  is--md">Назад к новостям</a>
				</div>
			</div>	
			<div class="{{content_prefix}}row  grid__row   is--page-aside">
				{% include "../../common/aside/tpl.twig" with {
					prefix: "aside__",
					heading: "Другие разделы",
					active: page.news,
					nav:[
						{name:"Инвесторам", link: page.investors},
						{name:"Отзывы", link: page.reviews},
						{name:"Новости", link: page.news},
						{name:"Новости для инвесторов", link: ""},
						{name:"Руководство", link: page.menedzhment},
						{name:"Цифры и факты", link: ""},
						{name:"Преимущества", link: ""},
						{name:"Вакансии", link: page.vacancies},
						{name:"Наши офисы", link: page.contacts}
					]
				} %}
				{% include "../../common/card/card.twig" with {
				 	view: "news_card", 
				 	prefix:prefix.card, 
				 	mod:"is--news-card",
		 			heading:heading_sm,
		 			img:"http://via.placeholder.com/500x265", 
		 			date:"11.10.2019", 
		 			date_iso:"2019-10-11", 
		 			note:"<p>В&nbsp;Саратове Автопробег по&nbsp;традиции проходит осенью. Но&nbsp;холодная и&nbsp;дождливая погода ─ не&nbsp;повод для хандры, ведь у&nbsp;предпринимателей города появляется прекрасная возможность приобрести новую технику ГАЗ с&nbsp;ощутимой выгодой. </p><p>Илья Плешаков, менеджер лизинговых проектов, г. Саратов:<br> —&nbsp;С&nbsp;5&nbsp;по&nbsp;8&nbsp;ноября совместно с&nbsp;«АвтоцентрГАЗ-Лидер» мы&nbsp;ездили общаться с&nbsp;повторными и&nbsp;новыми клиентами, для которых провели презентацию ГАЗона полной массой 10&nbsp;тонн. График поездок из-за праздников был довольно плотный,<br> но&nbsp;свой план мы&nbsp;выполнили и&nbsp;встретились с&nbsp;представителями разных сфер бизнеса: грузовые перевозки, геологоразведочные работы, пассажирские перевозки, строительство и&nbsp;т.&nbsp;д. </p><p>Машину уже достаточно хорошо знают, но&nbsp;с&nbsp;удовольствием тестировали и&nbsp;ездили. Многих клиентов интересовала новинка от&nbsp;ГАЗ&nbsp;—<br> 3х-литровый Next на&nbsp;метане, т.&nbsp;к. именно небольшие коммерческие автомобили категории «В» являются приоритетным выбором большинства предприятий. Мы&nbsp;вручили сертификаты со&nbsp;скидкой участникам Автопробега и&nbsp;уже оформляем сделки.</p>"			 		
			 	} %}
			</div>		
		</div>
	</section>
{% endif %}

{% if view == "news_block" %}
	<section class="{{content_prefix}}panel  {{content_mod}}">
		<div class="{{content_prefix}}container container  {{content_mod}}">
			{% include "../../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
			<div class="{{content_prefix}}row  grid__row  {{content_mod}}"> 
				{% include "../../common/card/card.twig" with {
				 	view: "news_sm", 
				 	prefix:prefix.card, 
				 	mod:"is--news-sm", 
				 	list: [
				 		{
				 			"heading":"Осенняя хандра<br> для ГАЗа не беда", 
				 			"link":page.news_card,
				 			"date":"11.10.2019", 
				 			"date_iso":"2019-10-11"
				 		},
				 		{
				 			"heading":"В Тольятти уже покупают новые ГАЗОНы", 
				 			"link":page.news_card,
				 			"date":"11.10.2019", 
				 			"date_iso":"2019-10-11"
				 		}
				 	]
				} %}
			</div>
			{% if link %}
			<p class="{{content_prefix}}link  {{content_mod}}">
				<a class="link__item  is--next  is--success" href="{{link_href}}">{{link}}</a>
			</p>
			{% endif %}
		</div>
	</section>
{% endif %}