<main class="{{content_prefix}}panel  {{content_mod}}">
	<div class="{{content_prefix}}container container  is--full">
		{% include "../../common/page-header/tpl.twig" with {prefix:"page-header__", mod:heading_mod, group:heading_group, level:heading_level, heading:heading, level_sm:heading_sm_level, heading:heading_sm, bread:bread, bread_mod:bread_mod, bread_l1:bread_l1, bread_l1_link:bread_l1_link, bread_l2:bread_l2, bread_l2_link:bread_l2_link } %}	
		<div class="{{content_prefix}}grid-row  grid__row  {{content_mod}}">
			<div class="grid__cols">
				<div class="{{content_prefix}}preview  {{content_mod}}">
					<img src="http://via.placeholder.com/700x370" class="img-responsive" alt="">
				</div>
			</div>
			<div class="grid__cols">
				<div class="{{content_prefix}}text-block  text__block  {{content_mod}}">
					<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, labore.</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aliquam, libero totam pariatur modi rem aliquid facilis iusto animi? Suscipit eos placeat necessitatibus nulla atque molestias voluptates error minus, dolorum rerum. Quis eligendi error a, quaerat omnis, quos recusandae atque. Quia commodi quam possimus velit officia ratione accusantium harum odio esse nostrum quisquam, perferendis nisi laborum hic repudiandae in earum iusto minima, voluptate! Laudantium minima sit dicta veritatis molestias suscipit ullam tempora eius odio dolorum facere rerum, officiis optio atque, asperiores sunt qui totam fugit sint cumque earum. Tenetur amet illum totam accusamus, eveniet, nemo ut quidem aut nisi vel.</p>
					<ul> 
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita consectetur aut deserunt repellendus est aliquam, culpa dolores, explicabo sapiente unde!</li>
						<li>Lorem ipsum dolor sit.</li>
						<li>Lorem ipsum dolor.</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae unde optio odio modi animi pariatur expedita officiis quis dicta alias!</p>
				</div>
			</div>
			<div class="grid__cols">
				<div class="{{content_prefix}}text-block  text__block  {{content_mod}}">
					<h5>Задачи компании</h5>
					<p>В&nbsp;сфере ответственности всего коллектива компании находится решение таких задач, как:</p>
					<ul> 
						<li>Производство светопрозрачных конструкций; </li>
						<li>Монтаж профилей и&nbsp;стеклопакетов; </li>
						<li>Ремонт окон</li>
					</ul>
					<p>Скажете, это умеют все? Мы&nbsp;делаем это качественно и&nbsp;быстро, не&nbsp;забывая о&nbsp;заказчике после установки, сопровождая его на&nbsp;всем жизненном цикле окон!</p>
				</div>
			</div>
			<div class="grid__cols">
				<div class="{{content_prefix}}preview  {{content_mod}}">
					<img src="http://via.placeholder.com/700x370" class="img-responsive" alt="">
				</div>
			</div>
		</div>		
	</div>
</main>