{% if view == "vacancies_page"%}
	<section class="{{content_prefix}}panel">
		<div class="{{content_prefix}}container container">
			{% include "../../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}	
			<div class="page-header__panel  row  {{heading_group}}  {{content_mod}}">
				<div class="cols">
					{% include "../../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols">
					<p class="{{content_prefix}}label {{content_mod}}">16 открытых вакансий</p>
				</div>
			</div>	
			<div class="{{content_prefix}}row  grid__row   is--page-aside">
				{% include "../../common/aside/tpl.twig" with {
					prefix: "aside__",
					heading: "Другие разделы",
					active: page.vacancies,
					nav:[
						{name:"Инвесторам", link: ""},
						{name:"Отзывы", link: page.reviews},
						{name:"Новости", link: page.news},
						{name:"Новости для инвесторов", link: ""},
						{name:"Руководство", link: page.menedzhment},
						{name:"Цифры и факты", link: ""},
						{name:"Преимущества", link: ""},
						{name:"Вакансии", link: page.vacancies},
						{name:"Наши офисы", link: page.contacts}
					]
				} %}
				<div class="{{content_mod}}">			
					{% include "../../common/form/form.twig" with {
						view: 			"search", 
						prefix:			prefix.form, 
						mod:			"is--search", 
						group:			content_mod, 
						color:			"is--primary-light", 
						ID: 			"f_search", 
						placeholder:	"Введите название вакансии или города",
						btn_mod:		"",
						btn_name:		"Поиск вакансии"
					} %}

					{% include "../../common/table/tpl.twig" with {
					 	view: "vacancies", 
					 	prefix:prefix.table, 
					 	mod:content_mod,  
					 	list: [
					 		{
					 			"name":"Менеджер лизинговых проектов", 
					 			"link":page.vacancies_card, 
					 			"city":"Санкт-Петербург"
					 		},
					 		{
					 			"name":"Менеджер по развитию отношений с партнерами", 
					 			"link":page.vacancies_card, 
					 			"city":"Москва"
					 		},
					 		{
					 			"name":"Специалист по документообороту", 
					 			"link":page.vacancies_card, 
					 			"city":"Хабаровск"
					 		},
					 		{
					 			"name":"Менеджер лизинговых проектов", 
					 			"link":page.vacancies_card, 
					 			"city":"Иркутск"
					 		},
					 		{
					 			"name":"Менеджер лизинговых проектов", 
					 			"link":page.vacancies_card, 
					 			"city":"Уфа"
					 		},
					 		{
					 			"name":"Менеджер лизинговых проектов", 
					 			"link":page.vacancies_card, 
					 			"city":"Новосибирск"
					 		},
					 		{
					 			"name":"Менеджер по развитию отношений с партнерами", 
					 			"link":page.vacancies_card, 
					 			"city":"Самара"
					 		},
					 		{
					 			"name":"Специалист по документообороту", 
					 			"link":page.vacancies_card, 
					 			"city":"Липецк"
					 		},
					 		{
					 			"name":"Специалист по документообороту", 
					 			"link":page.vacancies_card, 
					 			"city":"Пермь"
					 		},
					 		{
					 			"name":"Менеджер лизинговых проектов", 
					 			"link":page.vacancies_card, 
					 			"city":"Сыктывкар"
					 		}
					 	]} %}

						{% include "../../common/button/btn.twig" with {
							view:"link",
							prefix:"btn__", 
							mod:"is--lg  is--white  is--page-vacancies", 
							link:"#", 
							name:"Ещё 6 вакансий"
						} %}
				</div>			
			</div>		
		</div>
	</section>
{% endif %}

{% if view == "vacancies_card"%}
	<section class="{{content_prefix}}panel">
		<div class="{{content_prefix}}container container">
			{% include "../../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}	
			{% include "../../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}		
		</div>
	</section>
{% endif %}

{% if view == "vacancies_no"%}
	<section class="{{content_prefix}}panel">
		<div class="{{content_prefix}}container container">
			{% include "../../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}	
			<div class="page-header__panel  row  {{heading_group}}  {{content_mod}}">
				<div class="cols">
					{% include "../../common/page-header/tpl.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols">
					<p class="{{content_prefix}}label {{content_mod}}">Нет открытых вакансий</p>
				</div>
			</div>	
			<div class="{{content_prefix}}row  grid__row   is--page-aside">
				{% include "../../common/aside/tpl.twig" with {
					prefix: "aside__",
					heading: "Другие разделы",
					active: page.vacancies,
					nav:[
						{name:"Инвесторам", link: ""},
						{name:"Отзывы", link: page.reviews},
						{name:"Новости", link: page.news},
						{name:"Новости для инвесторов", link: ""},
						{name:"Руководство", link: page.menedzhment},
						{name:"Цифры и факты", link: ""},
						{name:"Преимущества", link: ""},
						{name:"Вакансии", link: page.vacancies},
						{name:"Наши офисы", link: page.contacts}
					]
				} %}
				<div class="{{content_prefix}}wrap  {{content_mod}}">
					<h3 class="is--hLG  fw--700  color--white-c0  margin--tiny">Вакансий нет</h3>
					<p class="color--white-c0">Если хотите предложить свою<br> кандидатуру, то воспользуйтесь формой ниже!</p>
				</div>				
			</div>		
		</div>
	</section>
{% endif %}