<aside class="{{prefix}}block dropdown">
	<a href="#" data-toggle="dropdown" class="{{prefix}}header">
		<div class="container">
			<div class="{{prefix}}btn">
				<div class="{{prefix}}hamb">
					<div class="{{prefix}}hamb-line  is--left"></div>
					<div class="{{prefix}}hamb-line  is--center"></div>
					<div class="{{prefix}}hamb-line  is--right"></div>
				</div>
				<p class="{{prefix}}btn-name">
					{{heading}}
				</p>
			</div>		
		</div>		
	</a>
	<div class="{{prefix}}dropdown">
		<div class="{{prefix}}dropdown-inner">
			<ul class="{{prefix}}nav">
				{% for value in nav %}
				<li class="{{prefix}}nav-item">
					<a class="{{prefix}}nav-link  {% if value.link == active %}is--active{% endif %}" href="{{value.link}}">{{value.name}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</aside>