{% if view != "search_nav" %}
<aside class="{{prefix}}block  {{group}}">
	<a href="#" data-aside-toggle="dropdown" class="{{prefix}}header">
		<div class="container">
			<div class="{{prefix}}btn">
				{% if nav != null %}
				<div class="{{prefix}}hamb">
					<div class="{{prefix}}hamb-line  is--left"></div>
					<div class="{{prefix}}hamb-line  is--center"></div>
					<div class="{{prefix}}hamb-line  is--right"></div>
				</div>
				{% endif %}
				{% if view == "filter_catalog" %}
				<div class="{{prefix}}filter-icon">
					{% include "../svg-sprite/svg.twig" with {icon:"filter"} %}
				</div>
				{% endif %}
				<p class="{{prefix}}btn-name">
					{{heading}}
				</p>
			</div>		
		</div>		
	</a>
	<div class="{{prefix}}dropdown">
		<div class="{{prefix}}dropdown-inner">
			{% if nav != null %}
			<ul class="{{prefix}}nav">
				{% for value in nav %}
				<li class="{{prefix}}nav-item">
					<a class="{{prefix}}nav-link  {% if value.link == active %}is--active{% endif %}" href="{{value.link}}">{{value.name}}</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% if view == "filter_catalog" %}
			<div class="{{prefix}}filter">
				<p class="{{prefix}}filter-heading">
					Маркa
				</p>
				{% include "../form/elem-tpl.twig" with {
					view:"checkbox", 
					prefix:"form__", 
					mod:"is--catalog-filter", 
					color:"", 
					list: [
						{"id":"model1", "form_id":ID, "name":"Маркa", "label":"Все марки"},
						{"id":"model2", "form_id":ID, "name":"Маркa", "label":"Галичанин<sup>4</sup>"},
						{"id":"model3", "form_id":ID, "name":"Маркa", "label":"Ивановец<sup>3</sup>"},
						{"id":"model4", "form_id":ID, "name":"Маркa", "label":"Камаз<sup>14</sup>"},
						{"id":"model5", "form_id":ID, "name":"Маркa", "label":"Клинцы<sup>7</sup>"},
						{"id":"model6", "form_id":ID, "name":"Маркa", "label":"Челябинец<sup>2</sup>"},
						{"id":"model7", "form_id":ID, group:"is--hidden", "name":"Маркa", "label":"Вездеход <sup>10</sup>"}
					] 
				} %}
				<p class="{{prefix}}filter-link"><a href="#" data-filter-view>Показать все марки</a></p>
			</div>
			<div class="{{prefix}}filter">
				<p class="{{prefix}}filter-heading">
					Тип техники
				</p>
				{% include "../form/elem-tpl.twig" with {
					view:"checkbox", 
					prefix:"form__", 
					mod:"is--catalog-filter", 
					color:"", 
					list: [
						{"id":"type1", "form_id":ID, "name":"Тип", "label":"Все типы"},
						{"id":"type2", "form_id":ID, "name":"Тип", "label":"Коммерческая техника <sup>2</sup>"},
						{"id":"type3", "form_id":ID, "name":"Тип", "label":"Спецтранспорт <sup>16</sup>"},
						{"id":"type4", "form_id":ID, "name":"Тип", "label":"Цельнометаллический фургон <sup>2</sup>"},
						{"id":"type5", "form_id":ID, "name":"Тип", "label":"Пассажирский фургон <sup>11</sup>"},
						{"id":"type6", "form_id":ID, "name":"Тип", "label":"Автобус <sup>10</sup>"},
						{"id":"type7", "form_id":ID, group:"is--hidden", "name":"Тип", "label":"Спецтехника <sup>10</sup>"},
						{"id":"type8", "form_id":ID, group:"is--hidden", "name":"Тип", "label":"Бортовой грузовик <sup>10</sup>"},
						{"id":"type9", "form_id":ID, group:"is--hidden", "name":"Тип", "label":"Самосвал <sup>10</sup>"},
						{"id":"type10", "form_id":ID, group:"is--hidden", "name":"Тип", "label":"Изотермический фургон <sup>10</sup>"},
						{"id":"type11", "form_id":ID, group:"is--hidden", "name":"Тип", "label":"Фургон <sup>10</sup>"},
						{"id":"type12", "form_id":ID, group:"is--hidden", "name":"Тип", "label":"Вездеход <sup>10</sup>"}
					] 
				} %}				
				<p class="{{prefix}}filter-link"><a href="#" data-filter-view>Показать все типы</a></p>
			</div>
			{% endif %}
		</div>
	</div>
</aside>
{% else %}
	{% if nav != null %}
		<ul class="{{prefix}}nav">
			{% for value in nav %}
			<li class="{{prefix}}nav-item">
				<a class="{{prefix}}nav-link  {% if value.link == active %}is--active{% endif %}" href="{{value.link}}">{{value.name}}</a>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endif %}