<main class="{{content_prefix}}panel  {{content_mod}}">
	<div class="{{content_prefix}}container container">
		{% include "../../common/breadcrumb/tpl.twig" with {
			prefix:prefix.breadcrumb, 
			mod:bread_mod, 
			bread:bread
		} %}
		{% include "../../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %}

		<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
			<div>
				{% include "../../common/continfo/tpl.twig" with {
					view: "", 
					prefix:"continfo__", 
					mod:"is--email-tel", 
					list:[
						{
							"name":contacts.phone, 
							"href":contacts.phone_tel, 
							"tag":"a", 
							"target":"tel:", 
							"label":"Номер для звонков по Москве"
						},
						{
							"name":contacts.email, 
							"href":contacts.email,  
							"tag":"a", 
							"target":"mailto:",
							"label":"Для любых обращений"
						}
				]} %}
				{% include "../../common/button/btn.twig" with {
					view:"modal",
					prefix:"btn__", 
					mod:"is--lg  is--white", 
					target:"modal-form", 
					name:"Заказать обратный звонок", 
					m_heading: "Заказать звонок", 
					m_heading_sm: "Мы перезвоним вам в ближайшее время", m_btn:"Отправить"
				} %}
			</div>
			<div>
				{% include "../../common/continfo/tpl.twig" with {
					view: "", 
					prefix:"continfo__", 
					mod:"is--office-main", 
					title:"Москва", 
					title_mod:"is--h3  fw--700", 
					link:"#", 
					link_name:"Как добраться", 
					list:[
						{
							"name":contacts.address, 
							"tag":"p",
							"mod":"is--address"
						},
						{
							"name":contacts.phone, 
							"href":contacts.phone_tel, 
							"tag":"a", 
							"target":"tel:"
						},
						{
							"name":contacts.email, 
							"href":contacts.email,  
							"tag":"a", 
							"target":"mailto:"
						},
						{
							"name":contacts.clock, 
							"tag":"p"
						}
				]} %}
			</div>
			<hr>
		</div>		
	</div>
</main>
				{# {% include "../../common/map/tpl.twig" with {prefix:"map__", mod:"is--contacts",zoom: contacts.map_zoom, center_coord: contacts.map_center_coord, point_coord: contacts.map_point_coord, point_heading: contacts.map_point_heading} %}	 #}